# Skill levels config, format:
# <action>=<radius>@<skill>[,<radius>@<skill>,...]

cultivate=1@30,2@50,3@70
sow=1@50,2@70,3@90
farm=1@50,2@70,3@90
harvest=1@50,2@70,3@90
replant=1@50,2@70,3@90
pick=1@50,2@70,3@90
prune=1@50,2@70,3@90

# Skill level (gardening) to plant all planters in rack
planterPlantSkill=50

# Skill level (gardening) to harvest all planters in rack
planterPickSkill=30

# Additional items to make plantable in planters
addPotables=nettles, sassafras, woad, cocoaBean, nutmeg, blueberry, lingonberry, raspberries, mushroomBlack, mushroomBlue, mushroomBrown, mushroomGreen, mushroomRed, mushroomYellow

# Allow using area actions when mounted
allowMountedAreaActions=false